$white: white;
$errorColor: red;
$successColor: green;

/*alerts*/
$alertSuccessBackground: rgb(209, 231, 221);
$alertSuccesscolor: rgb(15, 81, 50);
$alertSuccessborder: 1px solid rgb(186, 219, 204);
$alertDangerBackground: rgb(248, 215, 218);
$alertDangercolor: rgb(132, 32, 41);
$alertDangerborder: 1px solid rgb(245, 194, 199);