@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var.$backgroundBodyColor;

}